<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<!--COMO NO LO VOY A USAR LO COMENTO-->
<!--<head th:insert="fragments/general.html :: headerfiles">-->
<head>
	<title>Clientes</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a th:href="@{/clientes}" class="nav-link" th:text="#{lista.clientes}"></a>
			</li>
			<li class="nav-item">
				<a  th:href="@{/comerciales}" class="nav-link" th:text="#{lista.comerciales}"></a>
			</li>
			<li class="nav-item">
				<a  th:href="@{/pedidos}" class="nav-link" th:text="#{lista.pedidos}"></a>
			</li>
		</ul>
	</nav>

	<div class="container-fluid" >
		<h1 th:text="#{clientes}"></h1>
		<form action="/clientes/crear">
			<input class="btn btn-success btn-lg" type="submit" th:value="#{crear}">
		</form>

		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th th:text="#{nombre}"></th>
					<th th:text="#{apellido}"> 1</th>
					<th th:text="#{apellido}"> 2</th>
					<th th:text="#{email}"></th>
					<th th:text="#{ciudad}"></th>
					<th th:text="#{categoria}"></th>
					<th th:text="#{accion}"></th>
				</tr>
			</thead>
			<tbody>
				<tr  th:each="cliente : ${listaClientes}" >
					<td th:text="${cliente.id}">0</td>
					<td th:text="${cliente.nombre}">nombre</td>
					<td th:text="${cliente.apellido1}">apellido1</td>
					<td th:text="${cliente.apellido2 ?: '&nbsp;'}">apellido2</td>
					<td th:text="${cliente.email}">email</td>
					<td th:text="${cliente.ciudad}">ciudad</td>
					<td th:text="${cliente.categoria}">categoría</td>
					<td>
						<form th:action="@{/clientes/__${cliente.id}__}" style="display: inline;">
							<input class="btn btn-primary" type="submit" th:value="#{ver.detalle}" />
						</form>
						<form th:action="@{/clientes/editar/}+${cliente.id} " style="display: inline;">
							<input class="btn btn-warning" type="submit" th:value="#{editar}" />
						</form>
						<button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#exampleModal-' + ${cliente.id}" th:text="#{eliminar}">
						</button>

						<!-- Modal -->
						<div class="modal fade" th:id="'exampleModal-' + ${cliente.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel" th:text="#{confirmar.eliminar}"></h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p th:text="#{mensaje.desear.eliminar.cliente} + ${cliente.id} + ' ?'"></p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cerrar}"></button>
										<form th:action="@{/clientes/borrar/{id}(id=${cliente.id})}" method="post" style="display: inline;">
											<input class="btn btn-danger" type="submit" th:value="#{eliminar}" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous">

</script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</html>