<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<meta charset="UTF-8">
<title>Clientes</title>


</head>
<body>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a th:href="@{/clientes}" class="nav-link" >Lista de Clientes</a>
			</li>
			<li class="nav-item">
				<a  th:href="@{/comerciales}" class="nav-link">Lista de Comerciales</a>
			</li>
		</ul>
	</nav>

	<div class="container" >
		<h1>Clientes</h1>
		<form action="/clientes/crear">
			<input class="btn btn-success btn-lg" type="submit" value="Crear">
		</form>

		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido1</th>
					<th>Apellido2</th>
					<th>Ciudad</th>
					<th>Categoría</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr  th:each="cliente : ${listaClientes}" >
					<td th:text="${cliente.id}">0</td>
					<td th:text="${cliente.nombre}">nombre</td>
					<td th:text="${cliente.apellido1}">apellido1</td>
					<td th:text="${cliente.apellido2 ?: '&nbsp;'}">apellido2</td>
					<td th:text="${cliente.ciudad}">ciudad</td>
					<td th:text="${cliente.categoria}">categoría</td>
					<td>
						<form th:action="@{/clientes/__${cliente.id}__}" style="display: inline;">
							<input class="btn btn-primary" type="submit" value="Ver Detalle" />
						</form>
						<form th:action="@{/clientes/editar/}+${cliente.id} " style="display: inline;">
							<input class="btn btn-warning" type="submit" value="Editar" />
						</form>
						<form th:action="@{/clientes/borrar/__${cliente.id}__}" method="post" style="display: inline;">
							<input class="btn btn-danger" type="submit" value="Eliminar" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</body>
</html>