<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Crear Pedido</title>
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <div class="card">
                <form th:action="@{/pedidos/crear/__${id_cliente}__/__${id_comercial}__}" th:object="${pedido}" method="post">
                    <div class="card-header  bg-dark">
                        <h2 class="text-center text-white" th:text="#{crear} +' '+#{pedido}"></h2>
                    </div>
                    <div class="card-body">
                    <div class="form-group">
                        <input type="hidden" name="clienteId" th:value="${id_cliente}" />
                        <input type="hidden" name="comercialId" th:value="${id_comercial}" />

                        <label th:text="#{total}"></label>
                        <input class="form-control" th:field="*{total}" />
                        <ul class="alert alert-danger" th:if="${#fields.hasErrors('total')}" th:errors="*{total}">
                            <li th:each="err : ${#fields.hasErrors('total')}"/>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label th:text="#{fecha}"></label>
                        <input type="date" class="form-control" th:field="*{fecha}"/>
                        <ul class="alert alert-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">
                            <li th:each="err : ${#fields.hasErrors('fecha')}"/>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label th:text="#{cliente}"></label>
                        <input class="form-control bg-light" th:value="${id_cliente}" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label th:text="#{comercial}"></label>
                        <input class="form-control bg-light" th:value="${id_comercial}" readonly="readonly" />
                    </div>
                        <input class="btn btn-success" type="submit" th:value="#{crear}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>