<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Crear Pedido</title>
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <div class="card">
                <form class="" th:action="@{/pedidos/crear}" th:object="${pedido}" method="post">
                    <div class="card-header  bg-dark">
                        <h2 class="text-center text-white">Crear Pedido</h2>
                    </div>
                    <div class="card-body">
                    <div class="form-group">
                        <label>Total</label>
                        <input class="form-control" th:field="*{total}" />
                        <ul class="alert alert-danger" th:if="${#fields.hasErrors('total')}" th:errors="*{total}">
                            <li th:each="err : ${#fields.hasErrors('total')}"/>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>Fecha</label>
                        <input type="date" class="form-control" th:field="*{fecha}"/>
                        <ul class="alert alert-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">
                            <li th:each="err : ${#fields.hasErrors('fecha')}"/>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>id Cliente</label>
                        <input class="form-control" th:field="*{id_cliente}" />
                        <ul class="alert alert-danger" th:if="${#fields.hasErrors('id_cliente')}" th:errors="*{id_cliente}">
                            <li th:each="err : ${#fields.hasErrors('id_cliente')}"/>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>id Comercial</label>
                        <input class="form-control bg-light" th:value="${id_comercial}" readonly="readonly" />
                    </div>

                        <input type="hidden" name="id_comercial" th:value="${id_comercial}" />
                    <input class="btn btn-success" type="submit" value="Crear">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>