<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Crear Comercial</title>
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <form th:action="@{/comerciales}">
                <button type="submit" class="btn btn-primary" th:text="#{volver}"></button>
            </form>
            <div class="card">
                <form class="" th:action="@{/comerciales/crear}" th:object="${comercial}" method="post">
                    <div class="card-header  bg-dark">
                        <h2 class="text-center text-white" th:text="#{crear} + ' ' + #{comercial}"></h2>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label th:text="#{nombre}"></label>
                            <input class="form-control" th:field="*{nombre}" />
                            <ul class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
                                <li th:each="err : ${#fields.hasErrors('nombre')}"/>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label th:text="#{apellido}"> 1</label>
                            <input class="form-control" th:field="*{apellido1}" />
                            <ul class="alert alert-danger" th:if="${#fields.hasErrors('apellido1')}" th:errors="*{apellido1}">
                                <li th:each="err : ${#fields.hasErrors('apellido1')}"/>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label th:text="#{apellido}"> 2</label>
                            <input class="form-control" th:field="*{apellido2}" />
                        </div>
                        <div class="form-group">
                            <label th:text="#{comision}"></label>
                            <input class="form-control" th:field="*{comision}" />
                            <ul class="alert alert-danger" th:if="${#fields.hasErrors('comision')}" th:errors="*{comision}">
                                <li th:each="err : ${#fields.hasErrors('comision')}"/>
                            </ul>
                        </div>

                        <input class="btn btn-success" type="submit" th:value="#{crear}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>