<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Pedido</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header  bg-dark">
                    <h1 class="text-center text-white">Detalle Pedido</h1>
                </div>
                <div class="card-body">
                    <form action="/pedidos">
                        <button type="submit" class="btn btn-success">Volver</button>
                    </form>

                    <div class="form-group">
                        <label for="codigo">Código</label>
                        <input id="codigo" class="form-control" th:value="${pedido.id}" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="total">Total</label>
                        <input id="total" class="form-control" th:value="${pedido.total}" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <input id="fecha" class="form-control" th:value="${pedido.fecha}" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="id_cliente">id Cliente</label>
                        <input id="id_cliente" class="form-control" th:value="${pedido.id_cliente}" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="id_comercial">id Comercial</label>
                        <input id="id_comercial" class="form-control" th:value="${pedido.id_comercial}" readonly="readonly"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
