<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Comercial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header  bg-dark">
                    <h1 class="text-center text-white" th:text="#{ver.detalle} + ' ' + #{comerciales}"></h1>
                </div>
                <div class="card-body">
                    <form action="/comerciales">
                        <button type="submit" class="btn btn-success" th:text="#{volver}"></button>
                    </form>
                    <div class="form-group">
                        <label for="codigo">Id</label>
                        <input id="codigo" class="form-control" th:value="${comercial.id}" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="nombre" th:text="#{nombre}"></label>
                        <input id="nombre" class="form-control" th:value="${comercial.nombre}" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="apellido1" th:text="#{apellido}"> 1</label>
                        <input id="apellido1" class="form-control" th:value="${comercial.apellido1}" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="apellido2" th:text="#{apellido}"> 2</label>
                        <input id="apellido2" class="form-control" th:value="${comercial.apellido2}" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="comision" th:text="#{comision}"></label>
                        <input id="comision" class="form-control" th:value="${comercial.comision}" readonly="readonly"/>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="container mt-5">
                    <h1 th:text="#{pedidos}"></h1>
                    <table class="table table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th th:text="#{total}"></th>
                            <th th:text="#{fecha}"></th>
                            <th th:text="#{nombre}+ ' ' + #{clientes}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  th:each="pedido : ${listaPedidos}">
                            <td>
                                <a th:href="@{'/pedidos/' + ${pedido.id}}" target="_blank">
                                    <span th:text="${pedido.id}">0</span>
                                </a>
                            </td>
                            <td th:text="${pedido.total}">total</td>
                            <td th:text="${pedido.fecha}">fecha</td>
                            <td>
                                <a th:href="@{'/clientes/' + ${pedido.cliente.id}}" target="_blank">
                                    <span th:text="${pedido.cliente.nombre}">nombre_cliente</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
