<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Editar Pedido</title>
</head>
<body>

<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <form action="/pedidos">
                <button type="submit" class="btn btn-primary" th:text="#{volver}"></button>
            </form>
            <div class="card">
                <form class="" th:action="@{/pedidos/editar/__${pedido.id}__}" th:object="${pedido}" method="post">
                    <div class="card-header  bg-dark">
                        <h2 class="text-center text-white">Editar Pedido</h2>
                    </div>
                    <div class="card-body">

                    <div class="form-group">
                        <label>Codigo</label>
                        <input th:field="*{id}" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label>Total</label>
                        <input class="form-control" th:field="*{total}" />
                        <ul class="alert alert-danger" th:if="${#fields.hasErrors('total')}" th:errors="*{total}">
                            <li th:each="err : ${#fields.hasErrors('total')}"/>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>Fecha</label>
                        <input type="date" class="form-control" th:field="*{fecha}" />
                        <ul class="alert alert-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">
                            <li th:each="err : ${#fields.hasErrors('fecha')}"/>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>id Cliente</label>
                        <input class="form-control" th:field="*{id_cliente}" />
                        <ul class="alert alert-danger" th:if="${#fields.hasErrors('id_cliente')}" th:errors="*{id_cliente}">
                            <li th:each="err : ${#fields.hasErrors('id_client')}"/>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>id Comercial</label>
                        <input class="form-control" th:field="*{id_comercial}" />
                        <ul class="alert alert-danger" th:if="${#fields.hasErrors('id_comercial')}" th:errors="*{id_comercial}">
                            <li th:each="err : ${#fields.hasErrors('id_comercial')}"/>
                        </ul>
                    </div>
                    <input class="btn btn-success" type="submit" value="Editar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>