<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Editar Comercial</title>
</head>
<body>

<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <div class="card">
                <form class="" th:action="@{/comerciales/editar/__${comercial.id}__}" th:object="${comercial}" method="post">
                    <div class="card-header  bg-dark">
                        <h2 class="text-center text-white">Editar Comercial</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Codigo</label>
                            <input th:field="*{id}" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" th:field="*{nombre}" />
                            <ul class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
                                <li th:each="err : ${#fields.hasErrors('nombre')}"/>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Apellido 1</label>
                            <input class="form-control" th:field="*{apellido1}" />
                            <ul class="alert alert-danger" th:if="${#fields.hasErrors('apellido1')}" th:errors="*{apellido1}">
                                <li th:each="err : ${#fields.hasErrors('apellido1')}"/>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Apellido 2</label>
                            <input class="form-control" th:field="*{apellido2}" />
                        </div>
                        <div class="form-group">
                            <label>Comercial</label>
                            <input class="form-control" th:field="*{comision}" />
                            <ul class="alert alert-danger" th:if="${#fields.hasErrors('comision')}" th:errors="*{comision}">
                                <li th:each="err : ${#fields.hasErrors('comision')}"/>
                            </ul>
                        </div>

                        <input class="btn btn-success" type="submit" value="Editar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>