<!doctype html>
<html lang="en">
<head>
    <title>Clientes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th th:text="#{nombre}"></th>
                        <th th:text="#{apellido}"> 1</th>
                        <th th:text="#{apellido}"> 2</th>
                        <th th:text="#{ciudad}"></th>
                        <th th:text="#{categoria}"></th>
                        <th th:text="#{accion}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="cliente : ${listaBusqueda}" >
                        <td th:text="${cliente.id}">0</td>
                        <td th:text="${cliente.nombre}">nombre</td>
                        <td th:text="${cliente.apellido1}">apellido1</td>
                        <td th:text="${cliente.apellido2 ?: '&nbsp;'}">apellido2</td>
                        <td th:text="${cliente.ciudad}">ciudad</td>
                        <td th:text="${cliente.categoria}">categoria</td>
                        <td>
                            <input type="hidden" name="id_comercial" th:value="${id_comercial}" />

                            <form th:action="@{/pedidos/__${accion}__/{clienteId}/{comercialId}(clienteId=${cliente.id}, comercialId=${id_comercial})}" style="display: inline;" method="get">
                                <input class="btn btn-primary" type="submit" th:value="#{seleccionar}" />
                            </form>

                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- verifica si no hay resultados y lo muestra -->
            <div th:if="${sinResultados != null}" class="alert alert-info">
                <p th:text="${sinResultados}"></p>
                <form th:action="@{/pedidos/buscar}">
                    <button type="submit" class="btn btn-success" th:text="#{volver}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>